@model List<Project_Nhom1.Models.CartModel>

<div class="header__cart">
    <ul>
        <li><a href="@Url.Action("Index","Cart")"><i class="fa fa-shopping-bag"></i> <span>@Model.Count</span></a></li>
    </ul>
    <div class="header__cart__price">item: <span>@ViewBag.ToTal.ToString("N0")</span></div>
</div>
